html {
background-color:black;
}
*::selection{
background-color:#AAAAAA;
color:#000000;
}
*::-moz-selection{
background-color:#AAAAAA;
color:#000000;
}
body {
font-family: Calibri;
font-size: 12pt;
margin: 50px;
padding: 25px;
background-color:white;

-moz-box-shadow:0px 0px 80px 20px grey;
-webkit-box-shadow:0px 0px 80px 20px grey;
box-shadow:0px 0px 80px 20px grey;

-moz-border-radius:8px;
border-radius:8px;
}
h3 {
text-decoration:none;
}
hr {
margin-top:-18px;
}
blockquote {
margin-right: 0px;
}